<div class="containerCadastro">
    <div class="card">
        <div class="logo-titulo">
            <h1>Cadastro Ninja</h1>
            <img src="/logo.png" alt="Logo">
        </div>

        <div class="alerta">
            <div *ngIf="messageSucess()" class="alert_sucess">
                {{ messageSucess() }}
            </div> 
            <div *ngIf="messageError()" class="alert_error">
                {{ messageError() }}
            </div> 
        </div>

        <form (ngSubmit)="saveData()">
            <label for="user">User:</label>
            <input type="text"
            [(ngModel)]="user"
            name="user"
            id="cadastred-user"
            placeholder="Insert your user name"
            [disabled]="sending()"/>

            <label for="email">E-mail</label>
            <input type="email"
            [(ngModel)]="email"
            name="email"
            id="cadastred-email"
            placeholder="Insert your email"
            [disabled]="sending()"/>

            <label for="password">Password</label>
            <input type="password"
            [(ngModel)]="password"
            name="password"
            id="cadastred-password"
            placeholder="Password minimal 6 charactereds"
            [disabled]="sending()"/>

            <button type="submit" [disabled]="sending()">
                <span>
                    {{ sending() ? 'Sending Register...' : 'Send Register!' }}
                </span>
            </button>
            
            <div class="button-anc">
                <a [routerLink]="['/login']">I already have login!</a>
            </div>
        </form>
    </div>
</div>