<div class="apresentation">
    <div id="icon">
        <img src="/icon_entrada.png" alt="icon_entrada">
    </div> 
    <br/>
    <div id="paragrafo">
        
        <h2>Bem vindo pequeno Genin!</h2>
        <p>Se você chegou até aqui, provavelmente já passou horas "scrolando" catálogos de streaming e terminou assistindo... nada. Relaxa, o Ninja aqui já fez o trabalho de infiltração por você!
        <br/>
        <br/>
        Este site nasceu com uma missão simples, mas letal: ser o seu atalho definitivo para os melhores animes de 2026. No meio de tantos lançamentos, eu uso minhas técnicas secretas de curadoria para separar o que é lendário do que é apenas perda de tempo.</p>
        <br/>
        
        <h2>Como operamos por aqui?</h2>
        <p>A funcionalidade do site é direta ao ponto, sem enrolação. Eu organizo as sugestões para que você encontre exatamente o que seu "espírito otaku" está pedindo no momento.
        <br/>
        <br/>

        <b>Claro, não se esqueça que esses animes são recomendações do Ninja aqui ou seja, dados como notas e opinião são manualmente inseridas por mim o Ninja</b>, então espere sempre um toque de opinião sincera, um pouco de humor e zero spoilers que estraguem a sua experiência.</p>
        <br/>
        <h2>Eai meu genin curtiu a ideia? venha pro Dojo!</h2>

        <div class="botoes">
            <button><a [routerLink]="['/register']">Criar Conta!</a></button>
            <button><a [routerLink]="['/login']">Fazer Login!</a></button>
        </div>
    </div>
</div>