@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500;700&family=Nunito:wght@400;700&display=swap');

.apresentation {
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* um abaixo do outro */
    justify-content: center; /* centro vertical */
    align-items: center;     /* centro horizontal */
    text-align: center;
}

.tittle h1, h2{
    color: white;
    font-family: 'Fredoka', sans-serif;
    padding: 10px;
    font-size: x-large;
    letter-spacing: 1px;
    animation: brilhoRespiracao 3s ease-in-out infinite alternate;
}

#paragrafo {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    border-radius: 24px;
    padding: 50px;
    max-width: 850px;
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.05), 0 20px 50px rba(0, 0, 0, 0.9);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation: surgeNinja 1s ease-out;
}

#paragrafo:hover{
    transform: translateY(-8px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: insert 0 0 15px rgba(255, 255, 255, 0.1), 0 15px 40px rgba(255, 255, 255, 0.15);

    cursor: default;
}

p {
    color: white;
    font-family: 'Nunito', sans-serif;
    margin: 15px 0px 2px 0px;
    font-size: large;
}

#icon img {
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.3));
    transition: transform 0.3s ease;
    width: 300px; /* ajuste se quiser */
}

#icon img:hover {
    transform: scale(1.05) rotate(-3deg);
}

.botoes{
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.botoes button{
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    font-size: 15px;
    width: 150px;
    height: 50px;
    transition: all 0.3s ease;
}

a{
    color: white;
    text-decoration: none;
}

.botoes button:first-child {
    background-color: rgb(179, 179, 179);
    color: black;
    border: none;
}

.botoes button:first-child:hover {
    background-color: rgb(0, 148, 0); /* Verde ninja ao focar */
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 148, 0, 0.4);
}

.botoes button:last-child {
    background-color: transparent;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.botoes button:last-child:hover {
    border-color: white;
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateY(-3px);
}

@keyframes surgeNinja{
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes brilhoRespiracao {
    from {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    }
    to {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    }
}