/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
}

/* Fundo escuro e centralização total */
body, html {
  /* Criamos um fundo com 3 cores para o degradê se mover entre elas */
    background: linear-gradient(135deg, #000000, #1a1a1a, #000000, #0a0a0a);
    background-size: 400% 400%; /* Aumentamos o tamanho para o degradê "correr" */
    animation: nevoaNinja 15s ease infinite; /* 15 segundos para ser bem suave */
    min-height: 100vh;
    overflow-x: hidden; /* Evita barras de rolagem laterais indesejadas */
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: #555;
}

.ninja-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* A Shuriken (usando bordas para criar o formato) */
.shuriken {
  width: 50px;
  height: 50px;
  background-color: #fff;
  /* O segredo da forma: clip-path cria o desenho da shuriken */
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  animation: girarShuriken 1s linear infinite;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.ninja-loader p {
  color: #fff;
  font-family: 'Fredoka', sans-serif;
  letter-spacing: 2px;
  animation: pulsarTexto 1.5s ease-in-out infinite alternate;
}

/* Animações */
@keyframes girarShuriken {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes pulsarTexto {
  from { opacity: 0.4; }
  to { opacity: 1; }
}

@keyframes nevoaNinja {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}